.screen {
  padding: 2em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  width: 340px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}
